<h1 class="center">LiftJS</h1>

<ul class="collection with-header">

    <li class="collection-header"><h4>Getting started</h4></li>

    <li class="collection-item">
        Please refer to the documentation on <a href="https://github.com/libre-informatique/LiftJS">LiftJS Github repository</a>
    </li>
</ul>

<ul class="collection with-header">

    <li class="collection-header"><h4>Libraries</h4></li>

    <li class="collection-item avatar">
        <img class="circle" src="/img/jquery_logo.png" />
        <span class="title">Lib</span>
        <p>
            <a href="https://jquery.com/">jQuery</a>
        </p>
    </li>

    <li class="collection-item avatar">
        <object class="circle" type="image/svg+xml" data="http://materializecss.com/res/materialize.svg">
            Your browser does not support SVG
        </object>
        <span class="title">UI components</span>
        <p>
            <a href="http://materializecss.com/cards.html">Materializecss</a>
        </p>
    </li>

    <li class="collection-item avatar">
        <img class="circle" src="https://material.io/icons/webcomponents/custom_components/material-io-nav/static/images/icons_light.svg" />
        <span class="title">Icons</span>
        <p>
            <a href="https://material.io/icons/">Material icons</a>
        </p>
    </li>

    <li class="collection-item avatar">
        <img class="circle" src="http://handlebarsjs.com/images/handlebars_logo.png" />
        <span class="title">Templating engine</span>
        <p>
            <a href="http://handlebarsjs.com/">HandlebarsJS</a>
        </p>
    </li>

    <li class="collection-item avatar">
        <img class="circle" src="https://momentjs.com/static/img/moment-favicon.png" />
        <span class="title">Date and time</span>
        <p>
            <a href="https://momentjs.com/">MomentJS</a>
        </p>
    </li>

</ul>