<div class="col s12 m7">
    <h2 class="header primary-text">
        <i class="material-icons medium">settings</i>
        Paramètres
    </h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <form data-ctrl="updateSettings">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <i>Create your settings form</i>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="javascript:;" data-go="home" class="btn right primary">
                                        Annuler
                                        <i class="material-icons right">undo</i>
                                    </a>
                                    <button class="btn waves-effect waves-light left success" type="submit" name="action">
                                        Enregistrer
                                        <i class="material-icons right">check_circle</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
